@charset "UTF-8";
/* ----------------------------------------------------------
reset
---------------------------------------------------------- */
/*Default set*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, main {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  -webkit-text-size-adjust: none;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
main, article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

code, pre {
  font-size: 1em;
}

address, em, cite {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
}

a, a:hover, a:active {
  text-decoration: none;
  outline: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
}

a:disabled,
button:disabled {
  cursor: default;
}

hr {
  display: none;
}

/* ----------------------------------------------------------
	component # form
---------------------------------------------------------- */
/* 레이아웃 */
.form-group-block {
  padding: 0.5rem 0;
}

.form-group-block label {
  padding: 0.5625rem 0;
}

/* input */
label {
  display: inline-block;
}

input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input:disabled {
  background: #EEEEEE;
  border-color: #DBDBDB;
}

/* radio & checkbox */
.rdo-group,
.chk-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}

/* Hide the browser's default checkbox */
.rdo-group input,
.chk-group input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.rdo:after,
.chk:after {
  content: "";
  position: absolute;
  display: none;
}

.chk-group input:checked + label .chk:after,
.rdo-group input:checked + label .rdo:after {
  display: block;
}

.chk-group input:checked + label .chk {
  border: 1px solid #444444;
}

/* :checked 시 */
.chk-group .chk:after {
  top: 11px;
  left: 7px;
  width: 5px;
  height: 10px;
  border: solid #CE0E2D;
  border-width: 0 0.125rem 0.125rem 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.chk-group label,
.rdo-group label {
  position: relative;
  display: inline-block;
  min-height: 1.25rem;
}

.rdo-group label {
  font-size: 0.8125rem;
}

/* ----------------------------------------------------------
	Layout # login
---------------------------------------------------------- */
html,
body {
  height: 100%;
}

/* safari 크로스 브라우징 */
input,
button {
  -webkit-appearance: none;
}

.login-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #F8F8F8;
}

.login-wrap .logo {
  width: 120px;
  height: 30px;
  margin: 83px auto 10px;
  background: url("../img/logo.png") no-repeat center;
  background-size: cover;
}

.login-wrap h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 50px;
  letter-spacing: -0.5px;
  color: #262626;
}

.login-page {
  width: 560px;
  height: 720px;
  background-color: #ffffff;
  margin: auto;
  border-radius: 14px;
  -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

.login-form {
  width: 430px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  font-weight: 600;
  color: #333333;
}

.login-form .btn-forget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  font-size: 15px;
  font-weight: 400;
  color: #EE7623;
  text-decoration: underline;
}

.login-form .btn-login {
  margin-top: 30px;
  width: 430px;
  height: 64px;
  border-radius: 37px;
  text-align: center;
  font-size: 26px;
  color: #ffffff;
  background-color: #CE0E2D;
}

.chk-group label {
  color: #444444;
  font-size: 15px;
  font-weight: normal;
}

/* radio & checkbox */
.login-wrap .rdo,
.login-wrap .chk {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background: #ffffff;
  border: 1px solid #ddd;
}

/* input */
input[type="email"],
input[type="password"],
input[type="text"] {
  width: 430px;
  height: 68px;
  padding: 20px 24px;
  background: transparent;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  color: #444444;
  font-size: 18px;
}

input[type="email"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder {
  font-size: 18px;
  color: #ddd;
}

input[type="email"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder {
  font-size: 18px;
  color: #ddd;
}

input[type="email"]::-ms-input-placeholder,
input[type="password"]::-ms-input-placeholder {
  font-size: 18px;
  color: #ddd;
}

input[type="email"]::placeholder,
input[type="password"]::placeholder {
  font-size: 18px;
  color: #ddd;
}

@media (max-width: 600px) {
  .login-page,
  input[type="email"],
  input[type="password"] {
    width: 100%;
  }
  .login-form,
  .login-form .btn-login {
    width: 100%;
    padding: 0 20px;
  }
}
