// @import 'mixin';
@import 'layout/font';
@import 'layout/reset';

  

/* ----------------------------------------------------------
	component # form
---------------------------------------------------------- */
/* 레이아웃 */
.form-group-block {
  padding: 0.5rem 0;
  label{
    padding: 0.5625rem 0;
  }
}

/* input */
label {
  display: inline-block;
}

input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  &:disabled{
    background: $grey-ee;
    border-color: $grey-db;
  }
}

/* radio & checkbox */
.rdo-group,
.chk-group {
  display: flex;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}

.rdo:after,
.chk:after {
  content: "";
  position: absolute;
  display: none;
}

.chk-group input:checked+label .chk:after,
.rdo-group input:checked+label .rdo:after {
  display: block;
}

.chk-group input:checked+label .chk{
  border: 1px solid $grey-44;
}

/* :checked 시 */
.chk-group .chk:after {
  top: 11px;
  left: 7px;
  width: 5px;
  height: 10px;
  border: solid $point;
  border-width: 0 0.125rem 0.125rem 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.chk-group, .rdo-group{
  label {
    position: relative;
    display: inline-block;
    min-height: 1.25rem;
  }
}

.chk-group label {
  color: $grey-44;
  font-size: 15px;
  font-weight: normal;
}

.rdo-group label {
  font-size: 0.8125rem;
}

/* ----------------------------------------------------------
	Layout # login
---------------------------------------------------------- */
html,
body {
  height: 100%;
}

/* safari 크로스 브라우징 */
input,
button {
  // -webkit-border-radius: 0;
  // -webkit-outline: none;
  // -webkit-box-shadow: none;
  -webkit-appearance: none;
}

.login-wrap {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: $grey-f8;
  .logo{
    width: 120px;
    height: 30px;
    margin: 83px auto 10px;
    background: url('../img/logo.png') no-repeat center;
    background-size: cover;
  }
  h2{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
    letter-spacing: -0.5px;
    color: $grey-26;
  }
}

.login-page{
  width: 560px;
  height: 720px;
  background-color: $white;
  margin: auto;
  border-radius: 14px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

.login-form{
  width: 430px;
  margin: 0 auto;
  align-items: center;
  label{
    display: flex;
    font-size: 18px;
    font-weight: 600;
    color: $grey-33;
  }
  .btn-forget{
    display: flex;
    position: absolute;
    right: 0;
    font-size: 15px;
    font-weight: 400;
    color: #EE7623;
    text-decoration: underline;
  }
  .btn-login {
    margin-top: 30px;
    width: 430px;
    height: 64px;
    border-radius: 37px;
    text-align: center;
    font-size: 26px;
    color: $white;
    background-color: $point;
  }
}

/* radio & checkbox */
.login-wrap{
  .rdo, .chk{
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background: $white;
    border: 1px solid $grey-dd;
  }
} 

/* input */
input[type="email"],
input[type="password"],
input[type="text"] {
  width: 430px;
  height: 68px;
  padding: 20px 24px;
  background: transparent;
  border: 1px solid $grey-ee;
  border-radius: 4px;
  color: $grey-44;
  font-size: 18px;
}


input[type="email"]::placeholder,
input[type="password"]::placeholder {
  font-size: 18px;
  color: $grey-dd;
}

@media (max-width: 600px){
  .login-page,
  input[type="email"],
  input[type="password"]{
    width: 100%;
  }
  .login-form,
  .login-form .btn-login{
    width: 100%;
    padding: 0 20px;
  }
} 
