
/* 스페셜관 상세 공통 ============================*/

.special_theater {
    position: relative;
}

.special_theater.charlotte {}

.special_theater .special_list_tit {
    font-size: 18px;
    margin-bottom: 18px;
}

.special_theater ul.special_list{
    font-size: 0;
    border: 1px solid #DEDEDE;
    border-bottom: 0 none;
    overflow:hidden;
}
.special_theater ul.special_list:after{
    content:'';
    display: block;
    border-top: 1px solid #DEDEDE;
    margin-top: -1px;
    width: 100%;
    height: 1px;

}
.special_theater ul.special_list li{
    display: inline-block;
    width: 14.2857%;
}
.special_theater ul.special_list li > a{
    display: block;
    border-bottom: 1px solid #DEDEDE;
    border-right: 1px solid #DEDEDE;
    width: 100%;
    padding: 20px 0 17px 0;
    text-align: center;
    font-size: 13px;
    color: #666666;
    box-sizing: border-box;
}
.special_theater ul.special_list li:nth-of-type(7n) > a,
.special_theater ul.special_list li:first-child:nth-last-child(1) > a,
.special_theater ul.special_list li:first-child:nth-last-child(2)~li > a,
.special_theater ul.special_list li:first-child:nth-last-child(3)~li~li > a{
    border-right: 0 none;
}
.special_theater ul.special_list li:first-child:nth-last-child(1){
    width: 100%;
}
.special_theater ul.special_list li:first-child:nth-last-child(2),
.special_theater ul.special_list li:first-child:nth-last-child(2)~li{
    width: 50%;
}
.special_theater ul.special_list li:first-child:nth-last-child(3),
.special_theater ul.special_list li:first-child:nth-last-child(3)~li,
.special_theater ul.special_list li:first-child:nth-last-child(3)~li~li{
    width: 33.33333%;
}
.special_theater .section {
    position: relative;
    margin-bottom: 180px;
    font-size: 0;
}
.special_theater .section:first-child{
    margin-bottom: 80px;
}

.special_theater .section.last {
    margin-bottom: 0px;
}

.special_theater .section .sec_tit {
    display: inline-block;
    vertical-align: top;
    letter-spacing: -1px;
}

.special_theater .section .sec_tit .tit_primary {
    margin-bottom: 18px;
    line-height: 1;
    font-size: 70px;
    font-family: 'Roboto';
    color: #C0BFBE;
}

.special_theater .section .sec_tit .tit_primary em {
    display: block;
    font-size: 29px;
}

.special_theater .section .sec_tit .tit_secondary {
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 24px;
}

.special_theater .section .sec_tit .tit_secondary strong {
    font-weight: 700;
}

.special_theater .section .sec_tit .sec_content {
    font-size: 15px;
    line-height: 1.4;
}

.special_theater .section .sec_tit .sec_slide_wrap {
    position: relative;
}

.special_theater .section .sec_img {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.special_theater .section .sec_img .img_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.special_theater .section .sec_img em {
    text-indent: -9999em;
    color: transparent;
    font-size: 0;
}

.special_theater .section .sec_img .bx_img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.special_theater .section .sec_img .img_wrap:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
}

.special_theater .section div[class*="mask"] .img_wrap:after {
    background-color: #DDDDDD;
}

.special_theater .section .img_primary {
    position: relative;
}

.special_theater .section .img_primary>.img_itm,
.special_theater .section .img_secondary {
    position: absolute;
}

.special_theater .section .img_primary>.img_itm>.bx_img,
.special_theater .section .img_secondary>.bx_img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    transition: opacity 1.2s 1s linear;
    -webkit-transition: opacity 1.2s 1s linear;
    -moz-transition: opacity 1.2s 1s linear;
    -ms-transition: opacity 1.2s 1s linear;
    -o-transition: opacity 1.2s 1s linear;
}

.special_theater .section .lent_wrap {
    position: relative;
    border: 1px solid #DDDDDD;
    padding: 35px 50px;
    font-size: 0;
}

.special_theater .section .lent_wrap .bx_img {
    display: inline-block;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 130px;
    height: 130px;
    margin-right: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    vertical-align: middle;
}

.special_theater .section .lent_wrap .bx_info {
    display: inline-block;
    font-size: 13px;
    line-height: 1.4;
    vertical-align: middle;
}

.special_theater .section .lent_wrap .bx_info strong {
    font-weight: bold;
}

.special_theater .section .lent_wrap .bx_info img {
    display: block;
    margin-bottom: 20px;
}

.special_theater .section .lent_wrap .btn_more {
    position: absolute;
    right: 50px;
    top: 50%;
    margin-top: -8px;
}

.special_theater .section .lent_wrap .btn_more .line {
    display: inline-block;
    background-color: #EEEEEE;
    width: 211px;
    height: 1px;
    margin-right: 60px;
}

.special_theater .section .lent_wrap .btn_more .btn_txt {
    border: 0 none;
    font-size: 15px;
    color: #000;
}







/* 개별스타일 =============================================================*/
/* 샤롯데*/
.visual_special.charlotte {
    background-image: url('../images/pc/visual_special_charlotte.jpg');
}

.charlotte .img_01 .sec_tit {
    width: 340px;
    margin-top: 22px;
}

.charlotte .img_01 .img_secondary {
    left: 30px;
    width: 256px;
    height: 246px;
}

.charlotte .img_01 .img_secondary .bx_img:first-child {
    background-image: url('../images/pc/motion_charlotte_01.jpg');
}

.charlotte .img_01 .img_secondary .bx_img.motion {
    background-image: url('../images/pc/motion_charlotte_02.jpg');
    transition-delay: 1s;
}

.charlotte .img_01 .sec_img {
    width: 635px;
    height: 358px;
}

.charlotte .img_01 .sec_img .bx_img {
    background-image: url('../images/pc/special_char_01.jpg');
}

.charlotte .img_02 {
    text-align: right;
}

.charlotte .img_02 .sec_tit {
    width: 100%;
    margin-bottom: 40px;
}

.charlotte .img_02 .sec_img {
    width: 888px;
    height: 370px;
}

.charlotte .img_02 .sec_img .bx_img {
    background-image: url('../images/pc/special_char_02.jpg');
}

.charlotte .img_03 .sec_tit {
    width: 505px;
    margin-left: 40px;
    margin-top: 63px;
}

.charlotte .img_03 .img_secondary {
    right: 0;
    bottom: -60px;
    width: 285px;
    height: 160px;
}

.charlotte .img_03 .img_secondary .bx_img {
    background: url('../images/pc/special_char_04.jpg') no-repeat 50% 50%;
}

.charlotte .img_03 .sec_img {
    width: 430px;
    height: 480px;
}

.charlotte .img_03 .sec_img .bx_img {
    background-image: url('../images/pc/special_char_03.jpg');
}

.charlotte .img_04 {
    margin-bottom: 80px;
}

.charlotte .img_04 .sec_tit {
    width: 360px;
    margin-right: 40px;
    text-align: right;
}

.charlotte .img_04 .sec_img {
    width: 471px;
    height: 266px;
}

.charlotte .img_04 .sec_img .bx_img {
    background-image: url('../images/pc/special_char_04.jpg');
}
.charlotte .section.txt {
    display: block;
    margin-bottom: 120px;
    color: #666666;
    text-align: center;
    font-size: 0.75rem;
}
.charlotte .lent_wrap .bx_img {
    background-image: url('../images/pc/charlotte_130.png')
}

.charlotte .lent_wrap .bx_info>span{
    display: block;
    margin-top: 16px;
    color: #666666;
}

