/////////////////////////////////////////////
// color
/////////////////////////////////////////////
$white: #ffffff;
$black: #000000;
$transparent : transparent;

$point : #CE0E2D;

$grey-fa: #FAFAFA;
$grey-f8: #F8F8F8;
$grey-f7: #F7F7F7;
$grey-f4: #F4F4F4;
$grey-ee: #EEEEEE;
$grey-ef: #EFEFEF;
$grey-ed: #EDEDED;
$grey-ea: #EAEAEA;
$grey-df: #DFDFDF;
$grey-db: #DBDBDB;
$grey-dc: #DCDCDC;
$grey-d9: #d9d9d9;
$grey-d3: #d3d3d3;
$grey-c6: #C6C6C6;
$grey-aa: #AAAAAA;
$grey-90: #909090;
$grey-77: #777777;
$grey-6f: #6f6f6f;
$grey-5f: #5f5f5f;
$grey-33: #333333;
$grey-32: #323232;
$grey-44: #444444;
$grey-14: #141414;