/* ----------------------------------------------------------
	// @include fontSizeColor
---------------------------------------------------------- */
@mixin fontSizeColor($fontSize : 40px, $fontColor : #fff) {
    font-size : $fontSize;
    color : $fontColor;
  }


  /* ----------------------------------------------------------
	 // @extend %displayFlex
  ---------------------------------------------------------- */
  %displayFlex{
    display: flex;
  }


  /* ----------------------------------------------------------
    // @include weight(bold);
    // @include weight(600);
    // @include weight(400);
  ---------------------------------------------------------- */
  @mixin fontWeight($fontweight){
    font-weight: $fontweight;
  }

  @mixin weight($font){
    @if $font == 'bold'{
      @include fontWeight(bold);
    }
    @else if $font == 600{
      @include fontWeight(600);
    }
    @else {
      @include fontWeight(400);
    }
  }

